* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.card-container {
    padding-top: 55px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
