.search-input{
    border-bottom: 1px solid grey;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 5px;
}
@media (max-width: 768px) {
.nav-logo{
    margin: auto;
    display: block;
}
#search-box{
    margin: auto;
    display: block;
    width: 90%;
}
}